.wrapper {
  width: 750rpx;
  height: 100%;
  position: relative;
  padding-top: 160rpx;
  .top {
    width: 100%;
    height: 116rpx;
    line-height: 116rpx;
    text-align: center;
    background: #000000;
    color: #ffffff;
    position: absolute;
    top: 22rpx;
  }
  .photo {
    width: 100%;
    height: auto;
    overflow: scroll;
    position: relative;
    background-color: #d9d9d9;
    padding:  200rpx 0;
  }
  .canvas {
    position:absolute;
    left:0; right:0; top:0; bottom:0;
    margin:auto;
    border: solid 1px red;
  }
  .bottom {
    width: 100%;
    background: #fff;
    padding-bottom: 30px;
    view {
      width: 140rpx;
      height: 60rpx;
      border-radius: 30rpx;
      color: #fff;
      text-align: center;
      line-height: 60rpx;
      background-color: rgba(0, 0, 0, 0.5);
      margin: 28rpx auto;
    }
  }
}