.art-styleSeries-scroll-view{
  white-space: nowrap;
  width: 100%;
}
.art-styleSeries-cell{
  display: inline-block;font-size: 12px; margin: 15px 0 15px 15px;
  padding: 0px 8px; border: 2px solid #000000; border-radius: 24px;  height: 24px; line-height: 24px; text-align: center;
}